body {
  background-color: rgb(13, 38, 83);
}

button {
  border-radius: 15px;
  font-size: 50px;
  background-color: cadetblue;
  border: 3px solid rgb(9, 24, 19);
  
}

.App {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div {
  display: flex;
  justify-content: center;
}